.tree {
  height: 250px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.tree-level {
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.tree__level-1 {
  height: 50px;
}

.tree__level-2 {
  height: 50px;
}

.tree__level-3 {
  height: 50px;
}

.node {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #FF6B6B;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FF6B6B;
  position: absolute;
  transition: all 0.25s;
}

.traversed-node {
  background-color: #FF6B6B;
  color: #EEE;
}

.edge-1 {
  position: absolute;
}

.edge-2 {
  position: absolute;
}

.one {
  left: calc(50% - 25px);
}

.one .edge-1 {
  height: 85.5px;
  width: 1px;
  background: #FF6B6B;
  transform: rotate(45deg);
  top: 49%;
  left: -59%;
}

.one .edge-2 {
  height: 85.5px;
  width: 1px;
  background: #FF6B6B;
  transform: rotate(135deg);
  top: 49%;
  left: 157%;
}

.two {
  left: calc(25% - 25px);
}

.two .edge-1 {
  height: 69.5px;
  width: 1px;
  background: #FF6B6B;
  transform: rotate(45deg);
  top: 66%;
  left: -37%;
}

.two .edge-2 {
  height: 61.5px;
  width: 1px;
  background: #FF6B6B;
  transform: rotate(135deg);
  top: 77%;
  left: 115%;
}

.three .edge-1 {
  height: 60.5px;
  width: 1px;
  background: #FF6B6B;
  transform: rotate(45deg);
  top: 79%;
  left: -18%;
}

.three .edge-2 {
  height: 68.5px;
  width: 1px;
  background: #FF6B6B;
  transform: rotate(135deg);
  top: 70%;
  left: 132%;
}

.edge-1:after {
  content: '';
  height: 0;
  top: 0;
  left: 0;
  width: 1px;
  position: absolute;
  background: #FFF;
  transition: all 0.25s;
}

.edge-2:after {
  content: '';
  height: 0;
  bottom: 0;
  width: 1px;
  position: absolute;
  background: #FFF;
  transition: all 0.25s;
}

.three {
  left: calc(75% - 25px);
}

.four {
  left: 0;
}

.five {
  left: 32%;
}

.six {
  left: 55%;
}

.seven {
  left: calc(100% - 50px);
}

.btn-primary:first-of-type {
  margin-right: 0.5rem;
}

.btn-primary:last-of-type {
  margin-left: 0.5rem;
}

.traversed-edge:after {
  height: 100%;
}

.tree__traversal-output {
  text-align: center;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FF6B6B;
  font-size: 1.125rem;
}

