.stack__container {
  margin: 2rem auto;
  margin-top: 5rem;
  height: 300px;
  width: 120px;
  border: 1px solid #FF6B6B;
  border-top: none;
  position: relative;
}

.btn-primary + .btn-primary {
  margin-left: 1rem;
}

.stack__top {
  color: #FF6B6B;
  position: absolute;
  right: -125px;
  transition: all 0.5s;
}

.stack__top:after {
  content: '';
  position: absolute;
  width: 75px;
  height: 1px;
  left: -90px;
  top: 13px;
  background-color: #FF6B6B;
}

.stack__top:before {
  position: absolute;
  content: "";
  border-top: 10px solid transparent;
  border-left: 15px solid #FF6B6B;
  border-bottom: 10px solid transparent;
  right: 37px;
  top: 3px;
}

.stack__controls {
  margin-bottom: 1rem;
}

.stack__controls input {
  width: 180px;
  border-radius: 0;
  border: 2px solid #FF6B6B;
  margin-right: 1rem;
  transition: all 0.25s;
}

.stack__item {
  background-color: #292F36;
  color: #FF6B6B;
  width: 120px;
  height: 50px;
  position: absolute;
  bottom: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  transition: 0.5s all;
  border: 1px solid #FF6B6B;
}

.stack__controls-error {
  color: #FF6B6B;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
