{{ template "base" .}}

{{ define "content" }}
<div class="container mt-3">
  <h2>Top Posts</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="blog-card-inner">
        <h3>Bubble Sort</h3>
        <p class="text-white">Bubble Sort is a basic sorting algorithm that repeatedly steps through the list of elements, compares adjacent elements, and swaps them if they are in the wrong order. The process continues ...</p>
        <a class="btn btn-primary read-more-btn" href="algorithms/bubble-sort">Read More</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="blog-card-inner">
        <h3>Linear Search</h3>
        <p class="text-white">Linear Search is a basic search algorithm that checks each element in a list until match of element is found or entire list in traversed. It is easy to implement and works on both sorted and unsorted data.</p>
        <a class="btn btn-primary read-more-btn" href="algorithms/linear-search">Read More</a>
      </div>
    </div>
  </div>
</div>
{{ end }}
