{{ template "base" .}}
{{define "meta"}}
  {{$blog := index .Data "blog"}}
  {{with $blog}}
    <title>{{.Title}}</title>
    <meta name="description" content="{{.MetaDescription}}"/>
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{.OgTitle}}">
    <meta property="og:description" content="{{.OgDescription}}">
    <meta property="og:url" content="https://randomdevlogs.com/{{.Category}}/{{.Slug}}">
    <meta property="og:site_name" content="Random Devlogs">
  {{end}}
{{end}}

{{define "content"}}
  {{$blog := index .Data "blog"}}
  {{with $blog}}
    <div id="blog" class="blog-container mt-5 text-white">
      {{.Content}}
    </div>
  {{end}}

  {{$relatedBlogs := index .Data "relatedBlogs"}}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h2>Related Blogs</h2>
      </div>
    </div>
    <div class="row">
      {{range $rb := $relatedBlogs}}
      <div class="col-md-4 blog-card mt-2">
        <div class="blog-card-inner">
          <h3>{{.Title}}</h3>
          <p class="text-white">{{.MetaDescription}}</p>
          <a class="btn btn-primary read-more-btn" href="/{{.Category}}/{{.Slug}}">Read More</a>
        </div>
      </div>
      {{end}}
    </div>
  </div>
{{end}}
