{{ template "base" .}}
{{define "meta"}}
  {{$blog := index .Data "blog"}}
  {{with $blog}}
    <title>{{.Title}}</title>
    <meta name="description" content="{{.MetaDescription}}"/>
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{.OgTitle}}">
    <meta property="og:description" content="{{.OgDescription}}">
    <meta property="og:url" content="https://randomdevlogs.com/{{.Category}}/{{.Slug}}">
    <meta property="og:site_name" content="Random Devlogs">
  {{end}}
{{end}}

{{define "content"}}
  {{$blog := index .Data "blog"}}
  {{with $blog}}
    <div id="blog" class="blog-container mt-5 text-white">
      {{.Content}}
    </div>
  {{end}}
{{end}}
