{{ template "base" .}}

{{define "css"}}
<link rel="stylesheet" href="/static/css/bubble-sort.css">
{{end}}

{{define "content"}}
  <div id="bubble-sort" class="bubbles-sort blog-container text-white mt-5 p-3">
    <section class="bubble-sort__introduction">
      <h2>What is Bubble Sort?</h2>
      <p>Bubble Sort is a basic sorting algorithm that repeatedly steps through the list of elements, compares adjacent elements, and swaps them if they are in the wrong order. The process continues until list is sorted. This algorithm gets its name because smaller elements "bubble" to the top of the list like air bubbles in water.</p>
    </section>
    <section class="bubble-sort__basics mt-4">
      <h2>How Bubble Sort Works?</h2>
      <p>Bubble Sort algorithm works same as air bubble works in water. After each steps, smaller elements bubbles towards top of the list. Step by Step breakdown of bubble sort is as follows.</p>

      <ol class="bubble-sort__steps">
        <li>Start at the beginning of the list.</li>
        <li>Compare the first two elements (element at index 0 and element at index 1).</li>
        <li>If the first element is greater than the second element, swap them.</li>
        <li>Move to the next pair of elements (element at index 1 and element at index 2), and repeat the comparison and swapping if necessary.</li>
        <li>Continue this process until you reach the end of the list.</li>
        <li>After one complete pass through the list, the largest element will have "bubbled up" to the last position.</li>
        <li>Repeat steps 1-6 for the remaining unsorted elements (excluding the last element, which is already sorted).</li>
        <li>Continue this process until no more swaps are needed in a pass, indicating that the list is fully sorted.</li>
      </ol>
    </section>

    <section class="bubble-sort__visualization">
      <h2>Bubble Sort Visualization</h2>
      <p>Interactive Visualization of Bubble Sort with an example of array of size 6 is as follow. </p>
      <div class="mt-0 text-white">Note: you can use <i class="fa-solid fa-angles-left"></i> to move previous step and <i class="fa-solid fa-angles-right"></i> to move next step.</div>
      <div class="array-items text-white mt-4">
        <div class="array-item" style="left: 0;">4</div>
        <div class="array-item" style="left: 50px;">5</div>
        <div class="array-item" style="left: 100px;">3</div>
        <div class="array-item" style="left: 150px">1</div>
        <div class="array-item" style="left: 200px">6</div>
        <div class="array-item" style="left: 250px">2</div>
      </div>
      <div class="loop-counters">
        <div class="loop-counter-i" style="left: 260px;">
          n - i
        </div>
        <div class="loop-counter-j" style="left: 25px">
         j
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center mt-2">
      <button class="btn btn-primary prev-btn" type="button"><i class="fa-solid fa-angles-left"></i></button>
      <button class="btn btn-primary next-btn" type="button"><i class="fa-solid fa-angles-right"></i></button>
    </div>
    </section>

    <section class="bubble-sort__code mt-5">
      <h2>Bubble Sort Implementation in C++</h2>
      <p>Bubble Sort implementation in C++ is as follows</p>
      <div class="bubble-sort__code-container">
        <pre class="mt-5 px-3">
          <code class="langauge-cpp">#include&lt;iostream&gt;&#13;&#13;using namespace std;&#13;&#13;void bubblesort(int arr[], int n) {&#13;  for(int i=0; i&lt;n - 1; i++) {&#13;    for(int j=0; j&lt;n - 1 - i; j++) {&#13;      if(arr[j] &gt; arr[j + 1]) {&#13;        int temp = arr[j];&#13;        arr[j] = arr[j + 1];&#13;        arr[j + 1] = temp;&#13;      }&#13;    }&#13;  }&#13;}&#13;&#13;int main() {&#13;  int arr[] = {4, 5, 3, 1, 6, 2};&#13;  int pos[] = {0, 50, 100, 150, 200, 250};&#13;  int n = sizeof(arr)/sizeof(arr[0]);&#13;  &#13;  bubblesort(arr, n);&#13;  &#13;  cout &lt;&lt; &quot;array after sorting is &quot; &lt;&lt; endl;&#13;  &#13;  for(int i=0; i&lt;n; i++) {&#13;    cout &lt;&lt; arr[i] &lt;&lt; &quot; &quot;;&#13;  }&#13;&#13;  cout &lt;&lt; endl;&#13;&#13;  return 0;&#13;}</code>
        </pre>
        <button class="btn copy-btn">
          <i class="fa-regular fa-copy"></i>
          <i class="fa-solid fa-check"></i>
        </button>
      </div>
    </section>

    <section class="bubble-sort__complexity mt-5">
      <h2>Time and Space Complexity of Bubble Sort</h2>
      <p>We are using two nested loop for sorting list using bubble sort so Time Complexity of Bubble Sort will be <span>O(n^2)</span>.</p>
      <p>Since we are not using any additional space in Bubble Sort so space complexity will be <span>O(1)</span>.</p>
    </section>

    <section class="bubble-sort__advantages mt-5">
      <h2>Advantages of Bubble Sort</h2>
      <ul>
        <li>Bubble Sort is easy to understand and implement, making it a good choice for educational purposes or small datasets.</li>
        <li>Bubble Sort sorts the list in place, requiring no additional memory for temporary data structures.</li>
      </ul>
    </section>
    
    <section class="bubble-sort__advantages mt-5">
      <h2>Disadvantages of Bubble Sort</h2>
      <ul>
        <li>Bubble Sort has a time complexity of O(n^2), making it highly inefficient for large datasets.</li>
        <li>Due to its slow performance, Bubble Sort is rarely used in real-world applications where quick sorting is essential.</li>
      </ul>
    </section>

    <section class="bubble-sort__conclusion mt-5">
     <h2>Conclusion</h2>
     <p>Bubble Sort is a simple and easy-to-understand sorting algorithm, but it is far from efficient for sorting large datasets. While it may not be the best choice for many real-world applications, it serves as a valuable learning tool for those new to programming and algorithms.</p>
     <p>Understanding Bubble Sort's principles can pave the way for exploring more efficient sorting algorithms like Quick Sort, Merge Sort, or Heap Sort as your programming skills advance.</p>
     <p>Thanks for Reading. Have a Nice Day.</p>
    </section>
  </div>
{{end}}

{{define "js"}}
<script src="/static/js/bubble-sort.js"></script>
{{end}}
