{{ template "base" .}}

{{define "content"}}
<div class="container mt-3">
  <h2>Top Posts</h2>
  
  <div class="row">
    <div class="col-md-4 blog-card">
      <div class="blog-card-inner">
        <h3>Stack</h3>
        <p class="text-white">Stack is fundamental data structure in computer science and plays important role in various applications and algorithms. Stack is a linear data structure that follows LIFO(Last-In-First-Out) ...</p>
        <a class="btn btn-primary read-more-btn" href="data-structures/stack">Read More</a>
      </div>
    </div>
    <div class="col-md-4 blog-card">
      <div class="blog-card-inner">
        <h3>Queue</h3>
        <p class="text-white">Queue is a fundamental data structure and it plays an important role in software development. Queue is useful in many real-world scenarios such as Printer Job Queues, Task Scheduling and Traffic Management.</p>
        <a class="btn btn-primary read-more-btn" href="data-structures/queue">Read More</a>
      </div>
    </div>
    <div class="col-md-4 blog-card">
      <div class="blog-card-inner">
        <h3>Recursive Preorder Traversal</h3>
        <p class="text-white">Binary Tree is a fundamental data structure in computer science and used to store and get data efficiently. Tree Traversal is an important operation while working with a Binary Tree. In this blog, we will explore ...</p>
        <a class="btn btn-primary read-more-btn" href="data-structures/recursive-preorder-traversal">Read More</a>
      </div>
    </div>
    <div class="col-md-4 blog-card">
      <div class="blog-card-inner">
        <h3>Recursive Inorder Traversal</h3>
        <p class="text-white">Binary Tree is a fundamental data structure in computer science and used to store and get data efficiently. Tree Traversal is an important operation while working with a Binary Tree. In this blog, we will explore ...</p>
        <a class="btn btn-primary read-more-btn" href="data-structures/recursive-inorder-traversal">Read More</a>
      </div>
    </div>
    <div class="col-md-4 blog-card">
      <div class="blog-card-inner">
        <h3>Recursive Postorder Traversal</h3>
        <p class="text-white">Binary Tree is a fundamental data structure in computer science and used to store and get data efficiently. Tree Traversal is an important operation while working with a Binary Tree. In this blog, we will explore ...</p>
        <a class="btn btn-primary read-more-btn" href="data-structures/recursive-postorder-traversal">Read More</a>
      </div>
    </div>
    <div class="col-md-4 blog-card">
      <div class="blog-card-inner">
        <h3>Binary Tree</h3>
    <p class="text-white">binary tree is a fundamental data structure in computer science and has range of applications in various domains such as data storage and artificial intellegence. in this blog, we will learn about binary tree... </p>
        <a class="btn btn-primary read-more-btn" href="data-structures/binary-tree">read more</a>
      </div>
    </div>
    <div class="col-md-4 blog-card">
      <div class="blog-card-inner">
        <h3>Full Binary Tree</h3>
        <p class="text-white">Full Binary tree is an important type of binary tree. They have a unique properties that makes them different from other type of binary trees and these properties make useful in various applications in computer science...</p>
        <a class="btn btn-primary read-more-btn" href="data-structures/full-binary-tree">read more</a>
      </div>
    </div>
  </div>
  
  <!--<div class="row mt-2">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-primary">All Posts</button>
    </div>
  </div>
  -->
</div>
{{end}}
