{{ template "base" .}}

{{ define "content" }}
<div class="container mt-3">
  <h2>Top Posts</h2>
  
  <div class="row">
    <div class="col-md-4 blog-card">
      <div class="blog-card-inner">
        <h3>Bubble Sort</h3>
        <p class="text-white">Bubble Sort is a basic sorting algorithm that repeatedly steps through the list of elements, compares adjacent elements, and swaps them if they are in the wrong order. The process continues ...</p>
        <a class="btn btn-primary read-more-btn" href="dsa/bubble-sort">Read More</a>
      </div>
    </div>
  </div>
  
  <!--<div class="row mt-2">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-primary">All Posts</button>
    </div>
  </div>
  -->
</div> 
<div class="container mt-3">
  <h2>Data Structure & Algorithms</h2>
  
  <div class="row">
    <div class="col-md-4 blog-card">
      <div class="blog-card-inner">
        <h3>Bubble Sort</h3>
        <p class="text-white">Bubble Sort is a basic sorting algorithm that repeatedly steps through the list of elements, compares adjacent elements, and swaps them if they are in the wrong order. The process continues ...</p>
        <a class="btn btn-primary read-more-btn" href="dsa/bubble-sort">Read More</a>
      </div>
    </div>
  </div>
  
  <!---  <div class="row mt-2">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-primary">All DSA Posts</button>
    </div>
  </div>
  -->
</div> 
{{end}}
