{{ template "base" .}}

{{ define "content" }}
<div class="container mt-3">
  <h2>Top Posts</h2>
  
  <div class="row">
    <div class="col-md-4 blog-card">
      <div class="blog-card-inner">
        <h3>Bubble Sort</h3>
        <p class="text-white">Bubble Sort is a basic sorting algorithm that repeatedly steps through the list of elements, compares adjacent elements, and swaps them if they are in the wrong order. The process continues ...</p>
        <a class="btn btn-primary read-more-btn" href="algorithms/bubble-sort">Read More</a>
      </div>
    </div>
    <div class="col-md-4 blog-card">
      <div class="blog-card-inner">
        <h3>Stack</h3>
        <p class="text-white">Stack is fundamental data structure in computer science and plays important role in various applications and algorithms. Stack is a linear data structure that follows LIFO(Last-In-First-Out) ...</p>
        <a class="btn btn-primary read-more-btn" href="data-structures/stack">Read More</a>
      </div>
    </div>
    <div class="col-md-4 blog-card">
      <div class="blog-card-inner">
        <h3>Linear Search</h3>
        <p class="text-white">Linear Search is a basic search algorithm that checks each element in a list until match of element is found or entire list in traversed. It is easy to implement and works on both sorted and unsorted data.</p>
        <a class="btn btn-primary read-more-btn" href="algorithms/linear-search">Read More</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 blog-card">
      <div class="blog-card-inner">
        <h3>Queue</h3>
        <p class="text-white">Queue is a fundamental data structure and it plays an important role in software development. Queue is useful in many real-world scenarios such as Printer Job Queues, Task Scheduling and Traffic Management.</p>
        <a class="btn btn-primary read-more-btn" href="data-structures/queue">Read More</a>
      </div>
    </div>
  </div>
  
  <!--<div class="row mt-2">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-primary">All Posts</button>
    </div>
  </div>
  -->
</div>
<div class="container mt-3">
  <h2>Data Structures</h2>
  
  <div class="row">
    <div class="col-md-4 blog-card">
      <div class="blog-card-inner">
        <h3>Stack</h3>
        <p class="text-white">Stack is fundamental data structure in computer science and plays important role in various applications and algorithms. Stack is a linear data structure that follows LIFO(Last-In-First-Out) ...</p>
        <a class="btn btn-primary read-more-btn" href="data-structures/stack">Read More</a>
      </div>
    </div>
    <div class="col-md-4 blog-card">
      <div class="blog-card-inner">
        <h3>Queue</h3>
        <p class="text-white">Queue is a fundamental data structure and it plays an important role in software development. Queue is useful in many real-world scenarios such as Printer Job Queues, Task Scheduling and Traffic Management.</p>
        <a class="btn btn-primary read-more-btn" href="data-structures/queue">Read More</a>
      </div>
    </div>
  </div>
  
  <!---  <div class="row mt-2">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-primary">All DSA Posts</button>
    </div>
  </div>
  -->
</div> 

<div class="container mt-3">
  <h2>Algorithms</h2>
  
  <div class="row">
    <div class="col-md-4 blog-card">
      <div class="blog-card-inner">
        <h3>Bubble Sort</h3>
        <p class="text-white">Bubble Sort is a basic sorting algorithm that repeatedly steps through the list of elements, compares adjacent elements, and swaps them if they are in the wrong order. The process continues ...</p>
        <a class="btn btn-primary read-more-btn" href="algorithms/bubble-sort">Read More</a>
      </div>
    </div>
    <div class="col-md-4 blog-card">
      <div class="blog-card-inner">
        <h3>Linear Search</h3>
        <p class="text-white">Linear Search is a basic search algorithm that checks each element in a list until match of element is found or entire list in traversed. It is easy to implement and works on both sorted and unsorted data.</p>
        <a class="btn btn-primary read-more-btn" href="algorithms/linear-search">Read More</a>
      </div>
    </div>

  </div>
  
  <!---  <div class="row mt-2">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-primary">All DSA Posts</button>
    </div>
  </div>
  -->
</div> 
{{end}}
